* {
    font-size: 14px;
    margin: 0;
    padding: 0;
    list-style: circle;
}

table {
    border: 1px solid #000;
}

h1 {
   font-size: 50px; 
   color: #FF0000;
   text-align: center;
}

.entrada {
    display: flex;
    font-size: 20px;
    
    
}

button :hover {
    background-color: #000;
    color: white;
}